[flake8]
ignore = WPS305, WPS237
max-line-length = 128
exclude =
      migrations,
      .git,
      __pycache__,
      .git,
      venv*,
      tests,
      __init__.py
count = True
indent-size = 4
statistics = True
